# /etc/default/atop
# this file is no longer used and will be removed in a future release
# Интервал через который делается снимок нагрузки сервера, в секундах.
LOGINTERVAL={{ atop_log_interval }}
# Путь до логов atop.
LOGPATH="{{ atop_log_path }}"
# хранить бэкапы за 10 дней.
LOGGENERATIONS={{ atop_log_generations }}
